<h1>CAR MARKET</h1>
<a href="/products/" class="btn btn-primary">Ver Productos</a>
<a href="/user/register/" class="btn btn-primary">Registrate!</a>
<a href="/user/login" class="btn btn-primary">Ingresa!</a>
