<section class="w-50">
  <form class="d-flex flex-column" action="/user/login" method="post">
    <h1>IGRESAR</h1>
    <input type="text" name="email" id="email" placeholder="Email" />
    <input
      type="text"
      name="password"
      id="password"
      placeholder="Contraseña"
    />
    <input
      type="submit"
      id="login"
      class="btn btn-warning"
      value="Ingresar"
    />
  </form>

  <button onclick="location.href='/register'">Registrate AHORA!</button>
</section>