<h2>PRODUCTO</h2>
<section>
  <div class="card mb-3 align-items-center">
    <img src="../../public/assets/AceiteMineral1003.png" class="card-img-top" alt="..." style="width: 25%"/>
    <div class="card-body">
      <h3 class="card-title">{{oneproduct.title}}</h3>
      <h4 class="card-title">{{oneproduct.category}}</h4>
      <h4 class="card-text">${{oneproduct.price}}</h4>
      <h4 class="card-text">{{oneproduct.stock}} Un.</h4>
    </div>
  </div>
</section>