<section class="w-50">
  <form class="d-flex flex-column">
    <h1>Registrate!</h1>
    <input type="text" name="name" id="name" placeholder="Nombre" />
    <input type="email" name="email" id="email" placeholder="Email" />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Contraseña"
    />
    <input type="text" name="photo" id="photo" placeholder="Foto" />
    <input
      type="button"
      id="register"
      class="btn btn-warning"
      value="Guardar"
    />
  </form>
  {{! 
  <article>
    Ultimo user
    <span id="update"></span>
  </article>
  }}
</section>